<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udinus.a4506_a11202012594_adjidwinandaardi_utspbb" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.4506_A11202012594_AdjiDwinandaArdi_UTSPBB" >
        <activity
            android:name=".DaftarProsessor"
            android:exported="true" />
        <activity
            android:name=".SuccesfullyChangePassword"
            android:exported="true" />
        <activity
            android:name=".Sign_up"
            android:exported="true" />
        <activity
            android:name=".Forgot_Password"
            android:exported="true" />
        <activity
            android:name=".Reset_Code"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>